
:root{
    --mainColor: #134B70;
    --titleColor: #0F67B1;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background-color: #0F67B1; 
    border-radius: 10px;
    border: 3px solid #f1f1f1; 
}


::-webkit-scrollbar-thumb:hover {
    background-color: #0A4D84; 
}



body{
    background: linear-gradient(13deg, rgb(114, 175, 227) 35%, rgba(255,255,255,1) 100%);
}


form label{
    box-shadow: 0px 0px 8px 0px var(--titleColor);
}


@media (min-width:1024px) {
    #listNavbar{
        display: flex
    };
}